@import "animations.css";

@font-face {
    font-family: sacramento;
    src: url(./font/Sacramento-Regular.ttf);
}
@font-face {
    font-family: badscript;
    src: url(./font/BadScript-Regular.ttf);
}

:root {
    --body-bg: rgba(224,242,241,1);
    --card-background: rgb(255, 255, 255);
    --appbar-height: 4rem;
    --footer-height: 3.5rem;
    --section-intro-color: var(--bs-gray-100);
}

    :root[data-bs-theme=dark] {
        --body-bg: var(--bs-body-bg);
        --card-background: rgba(255, 255, 255, 0.05);
        --section-intro-color: var(--bs-gray-800);
    }

html, body, #app, #app > div {
    min-height: 100vh;
}

body {
    background-color: var(--body-bg);
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.footer {
    background: var(--bs-primary);
    color: var(--bs-primary-text);
    padding: 1rem;
    text-align: center;
    height: var(--footer-height);
}

.navbar {
    height: var(--appbar-height);
}

    .navbar .navbar-brand {
        font-family: sacramento;
        font-size: 2rem;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: var(--bs-white);
    }

.content {
    padding: 2rem;
    min-height: calc(100vh - var(--appbar-height) - var(--footer-height));
}

.card {
    background: var(--card-background);
    box-shadow: var(--bs-box-shadow-sm) !important;
    margin-bottom: 1.5rem;
}

.card-header {
    background: none;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 100;
}

/*  Home  */

.intro-wrapper {
    padding: 2rem 0;
    text-align: center;
    position: relative;
}

    .intro-wrapper .my-image:before,
    .intro-wrapper .my-image:after {
        display: block;
        position: absolute;
        top: 5rem;
        font-size:3rem;
        font-weight: bolder;
        color: var(--bs-primary);
    }

    .intro-wrapper .my-image:before {
        content: "</>";
        left: calc(100vw * 0.10);
    }

    .intro-wrapper .my-image:after {
        content: "@{}";
        right: calc(100vw * 0.10);
    }

    .intro-wrapper .my-image img {
        box-shadow: -8px -8px 0px 6px var(--bs-primary);
        border: solid var(--bs-secondary);
        border-width: 0 12px 12px 0;
        margin-left: 12px;
    }

.introduction {
    color: var(--bs-primary);
    font: 3.5rem bold;
    font-family: sacramento;
    text-shadow: 1px 1px 1px var(--bs-dark);
}

.section-intro {
    font: 1.5rem normal;
    font-family: badscript;
    text-align: center;
    padding: 1rem 2rem;
    margin: 2rem auto;
    border-left: 5px solid var(--bs-primary);
    position: relative;
    background: var(--section-intro-color);
}
    .section-intro:before {
        display: block;
        position: absolute;
        font-size: 3rem;
        top: 0;
        left: 0.5rem;
        content: "\201C";
        color: var(--bs-primary);
    }

.skills-grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
}

.skill-item {
    transition: transform 0.3s ease-in-out;
}

    .skill-item:hover {
        transform: scale(1.1);
    }

.skill-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 0.5rem;
    transition: transform 0.5s ease;
}

.skill-label {
    display: block;
    margin-top: 0.25rem;
    font-weight: 600;
}

.soft-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-top: 1.5rem;
}

.soft-skill-pill {
    background: rgba(var(--bs-body-color-rgb), 0.25);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-weight: 400;
    transition: background 0.25s linear;
}

    .soft-skill-pill:hover {
        background: rgba(var(--bs-body-color-rgb), 0.35)
    }

.education-section {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Glowing RGB border animation */

body {
    --glowing-border-animation: glowing 2s linear infinite;
    --rgba-border: conic-gradient(red, orange, yellow, lime, cyan, blue, magenta, red) 1 1;
}

.glow-border {
    border: 3px solid transparent;
}

    .glow-border:hover {
        border-image: var(--rgba-border);
        animation: var(--glowing-border-animation);
    }

@keyframes glowing {
    0% {
        border-image: var(--rgba-border);
    }

    20% {
        border-image: conic-gradient(yellow, lime, cyan, blue, magenta, red, orange, yellow) 1 1;
    }

    60% {
        border-image: conic-gradient(cyan, blue, magenta, red, orange, yellow, lime, cyan) 1 1;
    }

    80% {
        border-image: conic-gradient(magenta, red, orange, yellow, lime, cyan, blue, magenta) 1 1;
    }

    100% {
        border-image: var(--rgba-border);
    }
}