################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GurpreetRaju/.vs
/GurpreetRaju/bin
/GurpreetRaju/obj
