
<PageTitle>@Title</PageTitle>

<div class="page-content">
    @ChildContent
</div>

@code {

    /// <summary>
    /// The page title.
    /// </summary>
    [Parameter]
    public string Title { get; set; }

    /// <summary>
    /// The child content.
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
