/* _content/ShineBlazor.Components/PropertyGrid/CollectionEditor.razor.rz.scp.css */
.collection-editor[b-c54y441v1p] {
    height: calc(100vh - 14rem);
    overflow: hidden;
}

.collection-editor[b-c54y441v1p]  .list-group-item {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
}


/* _content/ShineBlazor.Components/RangeDial.razor.rz.scp.css */

.range-dial[b-w71jfsuxc5] {
    --dial-pointer-angle: -45deg;
    --dial-progress: 0;
    --dial-size-px: 100px;
    --dial-size: 100;
    --progress-color: url(#gradient);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider[b-w71jfsuxc5] {
    --dial-slider-size: calc(var(--dial-size-px) + 25px);
    width: var(--dial-slider-size);
    height: var(--dial-slider-size);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
}

.knob[b-w71jfsuxc5] {
    width: var(--dial-size-px);
    height: var(--dial-size-px);
    background: var(--bs-light-border-subtle);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

    .knob .rotator[b-w71jfsuxc5] {
        --dial-rotator-size: calc(var(--dial-size-px) - 20px);
        width: var(--dial-rotator-size);
        height: var(--dial-rotator-size);
        background: var(--bs-body-bg);
        border-radius: 50%;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.2), inset 1px 2px 1px rgba(255, 255, 255, 0.3), 2px -1px 1px rgba(0,0,0,0.2), -1px 0px 1px rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
    }

    .knob .text[b-w71jfsuxc5] {
        flex: 1;
        text-align: center;
    }

        .knob .text[b-w71jfsuxc5]:after {
            counter-reset: variable var(--dial-progress);
            content: counter(variable);
            color: var(--bs-body-color);
        }

.pointer[b-w71jfsuxc5] {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform-origin: calc(var(--dial-size-px)/2) 10px;
    transform: rotate(var(--dial-pointer-angle));
}

    .pointer i[b-w71jfsuxc5] {
        font-size: 2rem;
        color: var(--bs-dark);
        transform: rotate(180deg) translateX(0.25rem);
    }

.progress-dial[b-w71jfsuxc5] {
    transform: rotate(135deg);
    transform-origin: center;
}

    .progress-dial circle[b-w71jfsuxc5] {
        stroke-linecap: round;
        stroke-width: 8px;
    }

    .progress-dial .progress-circle-bg[b-w71jfsuxc5] {
        stroke: var(--bs-light-border-subtle);
        stroke-dasharray: 471.24;
        stroke-dashoffset: 117.81;
    }

    .progress-dial .progress-circle-fg[b-w71jfsuxc5] {
        stroke: var(--progress-color);
        stroke-dasharray: 471.24;
        stroke-dashoffset: calc(471.24 - (var(--dial-progress) * 3.5343));
        transition: stroke-dashoffset 0.1s linear;
    }
